button {
    position: relative;
    overflow: hidden;
    padding: 10px;
    color:white;
    font-weight: 700;
}

button::after {
    content:"";
    display: block;
    height: 4px;
    width: 100%;
    background-color: teal;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform 0.3s ease;
}

button:hover::after {
    transform:scaleX(1);
}